.reveal .slides .large {
	width: 1000px;
	max-width: 1000px;
}
.reveal .slides .medium {
	width: 500px;
	max-width: 500px;
}

#logo {
	width: 571px;

	
}
.reveal section img.noborder {
	border: 0;
	background: transparent;
	box-shadow: none;
}

.reveal section .author {
	text-transform: italic;
	font-size: 0.8em;
	color: #71e9f4;
}

.reveal section .trollface {
	position: absolute;
	width: 210px;
	top: 430px;
	left: 690px;
}
.reveal section .bigfont {font-size: 0.9em;}
.reveal section ul.big {
	font-size: 1.3em; 
	text-transform: uppercase;
	line-height: 60px;
}

.reveal .slides section .fragment.roll-in.overall,
.reveal section .overall {
	position: absolute;
	top: 0;
	width: 100%;
	height: 450px;
	background: #333;

}

.reveal section .inline {display: inline-block;}
.reveal section .left {float: left;margin-left: 80px;}
.reveal section .blue {color: #71e9f4;}
.reveal section .stroke {text-decoration: line-through;}
.reveal section .topspace {margin-top:40px;}
.reveal section .lego {line-height: 60px;}
.reveal section .nomargin {margin:0;}
/*.reveal section ul.lego {list-style-image: url('../images/lego-list.png'); line-height: 60px;}*/